<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link type="text/css" rel="stylesheet"
	href="/NfCrm/resources/css/bootstrap.min.css" />
<link rel="stylesheet" href="/NfCrm/resources/css/reset.css" />
<link rel="stylesheet" href="/NfCrm/resources/css/content.css" />
<link rel="stylesheet" href="/NfCrm/resources/css/pintuer.css">
<link rel="stylesheet" href="/NfCrm/resources/css/admin.css">
<script src="/NfCrm/resources/js/jquery.min.js"></script>
<script src="/NfCrm/resources/js/pintuer.js"></script>
<script type="text/javascript" src="/NfCrm/resources/js/jqPaginator.js"></script>
</head>
<body>

	<div class="panel admin-panel">
		<div class="panel-head">
			<strong class="icon-reorder">当月考勤情况</strong> <a href=""
				style="float: right; display: none;">添加字段</a>
		</div>
		<div class="padding border-bottom">
			<ul class="search" style="padding-left: 10px;">

				<li>&nbsp;&nbsp;&nbsp;</li>
				<form action="/NfCrm/attend/selectMonthAttend.do" method="post">
					<li>员工姓名 <input name="employee_name" type="text" class="input"
						style="width: 120px; line-height: 17px; display: inline-block" />

					</li>

					<li><#if
						sessionRole.function_operate_ids?index_of(function_id+"_00000000441")!=-1
						>
						<button class="button border-main icon-search" type="submit">
							查询</button> </#if>
					</li>
				</form>

			</ul>
		</div>
		<table class="table table-hover text-center">
			<tr>
				<th width="100" style="text-align: left; padding-left: 20px;">序号</th>
				<th width="10%">员工姓名</th>
				<th>正常出勤天数</th>
				<th>异常出勤天数</th> <#if
				sessionRole.function_operate_ids?index_of(function_id+"_00000000441")!=-1>
				<th width="310">操作</th></#if>
			</tr>
			<#list dayattend as dayattendlist>
			<tr>
				<td style="text-align: left; padding-left: 20px;">
					${dayattendlist_index+1}</td>
				<td>${dayattendlist.employee_name}</td> <#if
				dayattendlist.num==null>
				<td>0</td> </#if> <#if dayattendlist.num!=null>
				<td>${dayattendlist.num}</td> </#if> <#if
				dayattendlist.lacknum==null>
				<td>0</td> </#if> <#if dayattendlist.lacknum!=null>
				<td>${dayattendlist.lacknum}</td> </#if>

				<td>
					<div class="button-group">
						<#if
						sessionRole.function_operate_ids?index_of(function_id+"_00000000444")!=-1
						> <a class="button border-red"
							href="/NfCrm/attend/selectMonthAttendDetail.do?employee_id=${dayattendlist.employee_id}">
							<span class="icon-search"></span>查看
						</a> </#if>
					</div>
				</td>
			</tr>
			</#list>


			<td colspan="7" style="text-align: left; padding-left: 20px;">

				<ul class="pagination" id="pagination"></ul>
			</td>

		</table>
	</div>
	<script type="text/javascript">
    
    $.jqPaginator('#pagination', {
        totalPages: ${totalCount},
        visiblePages: 10,
        currentPage: ${currPage},
        prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
        next: '<li class="next"><a href="javascript:;">下一页</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
        	console.info(type);
        	if(type!='init'){
        		window.location.href="selectMonthAttend.do?currPage="+num+"&function_id=${function_id}";
        	}
        }
        
    });
</script>
	<script type="text/javascript">

//搜索
function changesearch(){	
		
}

//单个删除
function del(id,mid,iscid){
	if(confirm("您确定要删除吗?")){
		
	}
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

//批量排序
function sorts(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		return false;
	}
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");	
		
		return false;
	}
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}


//批量移动
function changecate(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		
		return false;
	}
}

//批量复制
function changecopy(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		var i = 0;
	    $("input[name='id[]']").each(function(){
	  		if (this.checked==true) {
				i++;
			}		
	    });
		if(i>1){ 
	    	alert("只能选择一条信息!");
			$(o).find("option:first").prop("selected","selected");
		}else{
		
			$("#listform").submit();		
		}	
	}
	else{
		alert("请选择要复制的内容!");
		$(o).find("option:first").prop("selected","selected");
		return false;
	}
}

</script>
</body>
</html>