<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CheckBox Tree - jQuery EasyUI Demo</title>
	<link href="/NfCrm/resources/css/power/index.css" rel="stylesheet">
	<link href="/NfCrm/resources/css/power/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/NfCrm/resources/jquery-easyui-1.4.3/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/NfCrm/resources/jquery-easyui-1.4.3/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/NfCrm/resources/jquery-easyui-1.4.3/demo/demo.css">
	<script type="text/javascript" src="/NfCrm/resources/jquery-easyui-1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="/NfCrm/resources/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/NfCrm/resources/alert/sweet-alert.min.js"></script>
	<link rel="stylesheet" href="/NfCrm/resources/css/pintuer.css">
	<link rel="stylesheet" href="/NfCrm/resources/css/admin.css">
	<link rel="stylesheet" href="/NfCrm/resources/alert/sweet-alert.css">
	<script type="text/javascript" src="/NfCrm/resources/admin/systemmanagement/teamOrganization.js"></script>
</head>
<body>

<div style="width: 23%;float: left">
<!--  
	<div style="margin:20px 0;">
		<a href="#" class="easyui-linkbutton" onclick="getChecked()">GetChecked</a> 
	</div>-->
	<div class="easyui-panel" style="padding:5px">
		<ul id="tt" class="easyui-tree" data-options="url:'/NfCrm/admin/queryTeamPanel.do',method:'get',animate:true,checkbox:false"></ul>
	</div>
</div>
<div style="width: 50%; float: left; margin-left: 60px;">
	<div class="form_list"><label class="lable_title">父&nbsp;节&nbsp;点&nbsp;</label><input class="form_input" type="text" id="node_name" disabled="disabled"/></div>
	<div class="form_list"><label class="lable_title">当前节点</label><input class="form_input" type="text" id="currentNode"/></div>
 	<div class="form_list" style="height: 90px;"><label class="lable_title">节点描述</label><textarea rows="5" cols="5" class="form_input"  id="team_desc"></textarea></div>
</div>

<div class="head-l" style="clear: left; float: right;margin-right: 538px;margin-top: -180px">
			<!-- <a class="button button-little bg-green" href="" target="_blank">保存</a>--> 
			<input class="button button-little bg-green" type="button" value="保存" id="submitTeam" style="width: 100px;text-align: center;"/>
			<a class="button button-little bg-green" href="../team/queryAllteamList.do" style="width: 100px;text-align: center;">返回</a>
</div>

</body>
</html>