<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/NfCrm/resources/alert/sweet-alert.css">
<script type="text/javascript" src="/NfCrm/resources/alert/sweet-alert.min.js"></script>
<link rel="stylesheet" href="/NfCrm/resources/css/pintuer.css">
<link rel="stylesheet" href="/NfCrm/resources/css/admin.css">
<script src="/NfCrm/resources/js/jquery.min.js"></script>
<script src="/NfCrm/resources/js/pintuer.js"></script>
<script src="/NfCrm/resources/js-date/WdatePicker.js"></script>
<script type="text/javascript">
$(document).ready(
		function() {
			$.ajax({
				type : "GET",
				url : "/NfCrm/useradmin/queryteam.do",
				async : true,
				dataType : "json",
				success : function(data) {
					var num = data.teamlist;
					var options;
					for (var i = 0; i < num.length; i++) {
						var team_id='${teamObj.team_id}';
						if(team_id==num[i].team_id){
							options += "<option value='"+num[i].team_id+"'selected='selected'>"
							+ num[i].team_name + "</option>";
						}else{
						options += "<option value='"+num[i].team_id+"'>"
								+ num[i].team_name + "</option>";
						}
						
					}
					$("#teamlist").append(options);
					var data={
							tag:$("#teamlist").val()
					}
					$.ajax({
						type : "GET",
						url : "/NfCrm/useradmin/queryteam.do",
						data : data,
						dataType : "json",
						success : function(rsp) {
							var num = rsp.teamlist;
							var obj = "<option value='@'>请选择</option>";
							$("#grouplist").html("");
							$("#grouplist").append(obj);
							var t_id='${oneofuserMsg.user_group}';
							var tmpOptions;
							for (var i = 0; i < num.length; i++) {
								if(t_id==num[i].team_id){
									tmpOptions += "<option value='"+num[i].team_id+"'selected='selected'>"
									+ num[i].team_name + "</option>";
									
								}else{
									tmpOptions += "<option value='"+num[i].team_id+"'>"
									+ num[i].team_name + "</option>";
								}
							}	
							$("#grouplist").append(tmpOptions);
							
						},
						error : function(rec) {
							swal({title: "系统提示",text: "网络异常！",type: "warning",showCancelButton: false,confirmButtonColor: "#DD6B55",confirmButtonText: "确定"
			        		},
			        		function(){
			        			
			        		});
						}
					});
					
					
				},
				error : function(rec) {
					swal({title: "系统提示",text: "网络异常！",type: "warning",showCancelButton: false,confirmButtonColor: "#DD6B55",confirmButtonText: "确定"
	        		},
	        		function(){
	        			
	        		});
				}
			});
		}
);
function findgroup(){
	var data={
			tag:$("#teamlist").val()
	};
	$.ajax({
		type : "GET",
		url : "/NfCrm/useradmin/queryteam.do",
		data : data,
		dataType : "json",
		success : function(rsp) {
			var num = rsp.teamlist;
			var obj = "<option value='#'>请选择</option>";
			$("#grouplist").html("");
			$("#grouplist").append(obj);
			var tmpObj;
			for (var i = 0; i < num.length; i++) {
				
				tmpObj += "<option value='"+num[i].team_id+"'>"
						+ num[i].team_name + "</option>";
			}
			$("#grouplist").append(tmpObj);
			
		},
		error : function(rec) {
			swal({title: "系统提示",text: "网络异常！",type: "warning",showCancelButton: false,confirmButtonColor: "#DD6B55",confirmButtonText: "确定"
    		},
    		function(){
    			
    		});
		}
	});
};	


function submitFrom(){
	var team=$("#teamlist").val();
	var user_name=$("input[name='user_name']").val();
	var user_id=$("input[name='user_id']").val();
	var group=$("#grouplist option:selected").val();
	var user_no=$("input[name='user_no']").val();
	var account_no=$("input[name='account_no']").val();
	var remark=$("#remark").val();
	if(team=="@"||group=="#"||user_name==""||user_id==""||user_no==""||account_no==""||remark==""){
		swal({title: "系统提示",text: "请填写完整信息！",type: "warning",showCancelButton: false,confirmButtonColor: "#DD6B55",confirmButtonText: "确定"
		},
		function(){
			
		});
	}else{
	var data={
			user_name :user_name,
			user_id :user_id,
			user_group: group,
			user_no : user_no,
			account_no :account_no,
			remark : remark
	};
	$.ajax({
		type : "POST",
		url : "/NfCrm/useradmin/updateUser.do",
		data : data,
		dataType : "json",
		success : function(rsp) {
			swal({title: "系统提示",text: "修改成功！",type: "success",showCancelButton: false,confirmButtonColor: "#DD6B55",confirmButtonText: "确定"
    		},
    		function(){
    			window.location="/NfCrm/useradmin/queryUserList.do";
    		});
			
		},
		error : function(rec) {
			swal({title: "系统提示",text: "网络异常！",type: "warning",showCancelButton: false,confirmButtonColor: "#DD6B55",confirmButtonText: "确定"
    		},
    		function(){
    			
    		});
		}
	});
	}
}


</script>
</head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head" id="add">
			<strong><span class="icon-pencil-square-o"></span>新建用户</strong>
		</div>
		<div class="body-content">
			<form method="post" class="form-x" action="updateUser.do">
				<div class="form-group">
					<div class="label">
						<label>姓名：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${oneofuserMsg.user_name}" name="user_name" id="user_name"
							data-validate="required:请输入正确格式的数据" />
						 <input type="hidden" class="input w50" value="${oneofuserMsg.user_id}" name="user_id" id="user_id"
							data-validate="required:请输入正确格式的数据" /> 
						<div class="tips"></div>
					</div>
				</div>

				<input name="user_group" id="group" type="hidden"></input>
				<div class="form-group">
					<div class="label">
						<label>部门：</label>
					</div>
					<div style="width: 60%">
						<select name="pro_type" id="teamlist" class="input w50"
							onchange="findgroup()">
							<option value="@" >请选择</option>
						</select>
						<div class="tips">
							<label style="float: left; margin-top: 9px; margin-left: 5%;">分组：
							</label><select name="user_group" id="grouplist" class="input w50">
								<option value="#">请选择</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>编号：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${oneofuserMsg.user_no}" name="user_no" id="user_no"
							data-validate="required:请输入正确格式的数据" disabled="disabled" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>账号：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${oneofuserMsg.account_no}" name="account_no" id="account_no"
							data-validate="required:请输入正确格式的数据" disabled="disabled" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group" >
					<div class="label">
						<label>备注：</label>
					</div>
					<div class="field">
						<textarea class="input" name="remark" style="height: 90px;" id="remark">${oneofuserMsg.remark}</textarea>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
					<#if sessionRole.function_operate_ids?index_of(function_id+"_00000000442")!=-1 >
						<button class="button bg-main icon-check-square-o" type="button" onclick="submitFrom()">保存</button>
					</#if>	 &nbsp;&nbsp;
						<a class="button bg-main icon-check-sign:before" href="queryUserList.do">返回</a>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>