@charset "utf-8";
/*我的账户*/
.myAccount{min-width:320px;max-width:750px;margin:0 auto;background:#efefed;min-height:500px;}
.user{min-width:320px;max-width:750px;margin:0 auto;border-bottom:1px #e5e5e5 solid;border-top:1px #159deb solid;background:#159deb;}
.user .person{width:26.5rem;margin:0 auto;margin-top:1.8rem;margin-bottom:1.8rem;}
.user .personbox{width: 100%;display:-moz-box; display:-webkit-box; display:box;}
.user .person .Img{width:6rem;height:6rem;position: relative;top:0;left:0;overflow:hidden;margin-left:0.5rem;}
.user .person .Img img{width:5.5rem;height:5.5rem;position: absolute;left: 0;top: 0;z-index: 1;}
.user .person .Img .die{width:5.5rem;height:5.5rem;position:absolute;top:0;left:0;z-index: 2;}
.user .person div.personMsg{line-height:2rem;height:6.5rem;box-sizing: border-box;-moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.user .person div.name{font-size:1.4rem;font-family:"微软雅黑";color:#fff;}
.user .person div.tel{font-size:1.2rem;font-family:Arial;color:#fff;}
.user .person div.tel i{font-size:1.4rem;font-family:Arial;font-style:normal;color:#fff;}
.user .person div.tel cite{font-size:1.2rem;font-style:normal;padding:0 .5rem;}
.user .person div.tel span{height:1.4rem;display:inline-block;margin-top:.3rem;}
.user .person div.tel span.star11{width:1.5rem;background:url(images/star1.png) no-repeat;background-size:100% 100%;}
.user .person div.tel span.star10{width:3rem;background:url(images/star2.png) no-repeat;background-size:100% 100%;}
.user .person div.tel span.star09{width:4.6rem;background:url(images/star3.png) no-repeat;background-size:100% 100%;}
.user .person div.tel span.star08{width:6.1rem;background:url(images/star4.png) no-repeat;background-size:100% 100%;}
.user .person div.tel span.star07{width:7.6rem;background:url(images/star5.png) no-repeat;background-size:100% 100%;}
.user .person div.tel span.star06{width:7.6rem;background:url(images/star6.png) no-repeat;background-size:100% 100%;}
.user .person div.tel span.star05{width:7.6rem;background:url(images/star7.png) no-repeat;background-size:100% 100%;}
.user .person div.price{color:#fff;}
.user .person div.price i{font-size:1.5rem;font-family:Arial;color:#fff;font-weight:900;}

.user .nologin{width:26rem;margin:0 auto;margin-top:1.8rem;margin-bottom:1.8rem;}
.user .nologin .Img{width:25.3rem;height:5.2rem;position:relative;overflow:hidden;margin:0 auto;}
.user .nologin .Img img{width:12.3rem;height:4.5rem;margin-left:6.3rem;cursor: pointer;}
.user .nologin .msg{width:18.6rem;margin:0 auto;line-height:2.5rem;font-size:1.5rem;font-family:微软雅黑;color:#fff;}

.user .load{width:22rem;margin:0 auto;margin-top:1.8rem;margin-bottom:1.8rem;position:relative;height:5rem;}
.user .load .Img{position:absolute;top:0px;}
.user .load .Img img{width:3rem;height:3rem;margin-left:6.3rem;margin-right: 1rem;vertical-align: middle;}
.user .load  a{color:#fff;}

.user .attr{height:5rem;background:#138dd3;}
.user .attr li{float:left;font-size:1.2rem;color:#fff;width:33%;border-right:1px #159deb solid;text-align: center;margin-top:.3rem;vertical-align:middle;padding:.5rem 0;}
.user .attr li a{color:#fff;}
.user .attr li:last-child{border-right:0px;}
.user .attr li .wait img{width:2.1rem;height:1.6rem;}
.user .attr li .goods img{width:2.2rem;height:1.7rem;}
.user .attr li .end img{width:1.5rem;height:1.7rem;}

.column-list{padding-bottom:.5rem;}
.column-list ul{padding-left:2px;}
.column-list ul li{float:left;width:32%;height:11rem;background:#fff;margin:.5rem 0 0 1%;}
.column-list ul li span{display:block;text-align:center;font-size: 1.2rem;}
.column-list ul li div{width:2.7rem;height:2.4rem;margin:0 auto;margin-top:2.8rem;margin-bottom:.9rem;text-align: center;}
.column-list ul li div img{width:auto;height:2.4rem;}
