html, body {
  height: 100%;
}
html.active, body.active {
  overflow: hidden;
}
header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff
}
header.active {
  position: absolute;
}
header h1 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: #fff url(../../img/index/logo.png) center center no-repeat;
  background-size: 181px 30px;
}
.search {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;
  width: 100%;
  height: 50px;
  padding: 7px 40px 8px 25px;
  background: #fff;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search.active {
  z-index: 3;
  left: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.search-text {
  display: block;
  font-size: .85rem;
  line-height: 35px;
  width: 100%;
  height: 35px;
  padding: 0;
  text-indent: 1em;
  color: #666;
  border: 1px solid #f8b62a;
  border-radius: 17px;
  background: #fff
}
.search-text1 {
  display: block;
  font-size: .85rem;
  line-height: 20px;
  width: 96%;
  height: 35px;
  padding: 0;
  text-indent: 0em;
  color: #666;
  border: 0px;
  background: transparent;
  margin-left: 20px;
}
.search::before {
  position: absolute;
  top: 17px;
  left: 8px;
  width: 9px;
  height: 15px;
  content: '';
  background-position: 0 0
}
.search-switch, .search-btn {
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 5px;
  visibility: visible;
  font-size: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background-position: right 0
}
.search-btn {
  visibility: hidden
}
.search-switch {
  z-index: 11;
  visibility: visible;
  background-position: -100px 0;
}
.active .search-btn {
  visibility: visible
}
.search-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 50px;
  background: none
}
.search-mask {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .25)
}
.search-mask.active {
  display: block
}
#top {
  margin-top: 50px
}
hgroup {
  background-color: #fff
}
hgroup h2 {
  font-size: .9rem;
  margin: 0
}
hgroup h2 a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
  text-align: center
}
hgroup h2 a::before {
  display: block;
  width: 40px;
  height: 42px;
  margin: 10px auto 5px;
  content: '';
  background-position: 0 -44px
}
hgroup h2:nth-child(2) a::before {
  background-position: -40px -44px
}
hgroup h2:nth-child(3) a::before {
  background-position: -80px -44px
}
hgroup h2:nth-child(4) a::before {
  background-position: -120px -44px
}
.ad-box {
  background: #fff
}
.ad-box h3 {
  font-size: .85rem;
  font-weight: normal
}
.ad-item {
  padding: 1rem .5rem .2rem;
  border-top: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3
}
.ad-item:last-child {
  border-right: 0
}
.sort-box > .box > .box-flex::before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: #f3f3f3
}
.sort-box > .box > .box-flex::after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  content: '';
  background: #f3f3f3
}
.sort-box > .box:last-child > .box-flex::before, .sort-box > .box > .box-flex:last-child::after {
  display: none
}
.no-border > .box > .box-flex::before, .no-border > .box > .box-flex::after {
  display: none
}
.sort-box {
  background-color: #fff
}
.sort-box h2 {
  position: relative;
  font-size: 1rem;
  line-height: 2.2rem;
  margin: 0;
  text-indent: .8rem;
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff
}
.sort-box h2:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 2.2rem;
  content: ''
}
.sort-box h2.orange::before {
  background-color: #fe7f02
}
.sort-box h2.blue::before {
  background-color: #59b3ec
}
.sort-box h2.green::before {
  background-color: #30c803
}
.sort-box h2.red::before {
  background-color: #ee616a
}
.sort-box h2.purple::before {
  background-color: #c3f
}
.sort-box h2 a {
  position: absolute;
  right: 0;
  font-size: .85rem;
  font-weight: normal;
  padding-right: 1.2rem;
  text-indent: 0
}
.sort-box h2 a:after, .sort-box h2 a:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: solid transparent
}
.sort-box h2 a:after {
  z-index: 1;
  border-width: 6px;
  border-left-color: #333
}
.sort-box h2 a:before {
  z-index: 2;
  right: 4px;
  border-width: 4px;
  border-left-color: #fff
}
.pro-box {
  padding: 1rem .5rem .1rem
}
.pro-text {
  position: relative;
  height: auto
}
.pro-box h4 {
  overflow: hidden;
  font-size: .85rem;
  font-weight: normal;
  line-height: 1.2;
  height: 2.04rem
}
.pro-text-wrap {
  position: absolute;
  height: 100%
}
.pro-text-wrap span {
  position: absolute;
  bottom: .5rem
}
.pro-box span strong {
  font-weight: bold;
  color: #f8b62a
}
.pro-img {
  padding-top: 1rem
}
.pro-misc .img-wrap {
  width: 80%;
  margin: 0 auto
}
.pro-misc figcaption {
  overflow: hidden;
  font-size: .85rem;
  font-weight: normal;
  line-height: 1.2;
  height: 2.04rem
}
.pro-misc span {
  display: block;
  margin: .5rem 0
}
.middle-line {
  position: relative;
  font-size: 1rem;
  line-height: 30px;
  height: 30px;
  margin-bottom: 10px;
  background: #f5f5f5
}
.middle-line span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 30%;
  height: 30px;
  margin-left: -15%;
  text-align: center;
  background: #f5f5f5
}
.middle-line::before {
  position: absolute;
  z-index: 1;
  left: 2.5%;
  width: 95%;
  height: 1px;
  margin: 14px auto;
  content: '';
  background-color: #e2e2e3
}
.label-box .box-flex {
  padding: 2%
}
.label-box .box:first-of-type .box-flex {
  padding-top: 0
}
a.label {
  display: block;
  font-size: 1rem;
  line-height: 2;
  text-align: center;
  background: #fff
}
footer p {
  font-size: .7rem;
  text-align: center;
  color: #bfc0c3
}
