<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/NfCrm/resources/css/pintuer.css">
<link rel="stylesheet" href="/NfCrm/resources/css/admin.css">
<script src="/NfCrm/resources/js/jquery.min.js"></script>
<script src="/NfCrm/resources/js/pintuer.js"></script>
<link type="text/css" rel="stylesheet"
	href="/NfCrm/resources/css/bootstrap.min.css" />
<link rel="stylesheet" href="/NfCrm/resources/css/reset.css" />
<link rel="stylesheet" href="/NfCrm/resources/css/content.css" />
<script type="text/javascript" src="/NfCrm/resources/js/jqPaginator.js"></script>
<script type="text/javascript"
	src="/NfCrm/resources/js-date/WdatePicker.js"></script>
</head>
<body>

	<div class="panel admin-panel">
		<div class="panel-head">
			<strong class="icon-reorder">员工工资列表</strong> <a href=""
				style="float: right; display: none;">添加字段</a>
		</div>
		<div class="padding border-bottom">
			<ul class="search" style="padding-left: 10px;">
				<li>&nbsp;&nbsp;&nbsp;</li>

			</ul>
		</div>
		<table class="table table-hover text-center">
			<tr>
				<th width="100" style="text-align: left; padding-left: 20px;">编号</th>
				<th>账号名</th>
				<th>底薪</th>
				<th>补贴</th>
				<!-- <th>提成</th>
        		<th>积分</th> -->
				<th>带看</th>
				<!-- <th>开单奖</th> -->
				<th>考勤</th>
				<th>其他</th>
				<th>统计</th>
				<th>创建日期</th>
			</tr>

			<#list salarylist as list>
			<tr>
				<td style="text-align: left; padding-left: 20px;">
					${list_index+1}</td>
				<td>${list.user_name}</td>
				<td>${list.basic_salary}元</td>
				<td>${list.subsidy}元</td>
				<!-- <td>${list.commission}元</td> -->
				<!-- <td>${list.integral_reward}元</td> -->
				<td>${list.take_look}元</td>
				<!-- <td>${list.bill_award}元</td> -->
				<td>${list.attend}元</td>
				<td>${list.other}元</td> <#if list.count==null>
				<td>0元</td> </#if> <#if list.count!=null>
				<td>${list.count}元</td> </#if>
				<td>${list.createTime}</td>
			</tr>
			</#list>

		</table>
		<ul class="pagination" id="pagination"></ul>
	</div>

	<script type="text/javascript">
    
    $.jqPaginator('#pagination', {
        totalPages: ${totalCount},
        visiblePages: 10,
        currentPage: ${currPage},
        prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
        next: '<li class="next"><a href="javascript:;">下一页</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
        	console.info(type);
        	if(type!='init'){
        		window.location.href="selectSalary.do?currPage="+num;
        	}
        }
    });
</script>
</body>
</html>