<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/NfCrm/resources/css/pintuer.css">
<link rel="stylesheet" href="/NfCrm/resources/css/admin.css">
<script src="/NfCrm/resources/js/jquery.min.js"></script>
<script src="/NfCrm/resources/js/pintuer.js"></script>
</head>
<body>

	<div class="panel admin-panel">
		<div class="panel-head">
			<strong class="icon-reorder">审核列表</strong> <a href=""
				style="float: right; display: none;">添加字段</a>
		</div>
		<div class="padding border-bottom">
			<ul class="search" style="padding-left: 10px;">
				<li><a class="button border-main " href="javascript:void(0)">审核</a>
				</li>
				<li>&nbsp;&nbsp;&nbsp;</li>
				<form action="" method="post">
					<li>审核分类 <input name="s_ishome" class="input"
						onchange="changesearch()"
						style="width: 90px; line-height: 17px; display: inline-block" />
					</li>
					<li>客服编号 <input name="s_isvouch" type="text" class="input"
						onchange="changesearch()"
						style="width: 90px; line-height: 17px; display: inline-block" />
						&nbsp;&nbsp; 业务员 <input name="s_isvouch" type="text" class="input"
						onchange="changesearch()"
						style="width: 90px; line-height: 17px; display: inline-block" />
					</li>

					<li>发件时间 <select name="s_ishome" class="input"
						onchange="changesearch()"
						style="width: 110px; line-height: 17px; display: inline-block">
							<option value="">2010-1-4</option>

					</select>

					</li>

					<li>审核状态 <select name="s_ishome" class="input"
						onchange="changesearch()"
						style="width: 120px; line-height: 17px; display: inline-block">
							<option value="">选择</option>
							<option value="1">待审核</option>
							<option value="0">已审核</option>
					</select>
					</li>

					<li><a href="javascript:void(0)"
						class="button border-main icon-search" onclick="changesearch()">
							查询</a></li>
				</form>

			</ul>
		</div>
		<table class="table table-hover text-center">
			<tr>
				<th width="100" style="text-align: left; padding-left: 20px;">ID</th>
				<th width="10%">审核分类</th>
				<th>发送时间</th>
				<th>客服编号</th>
				<th>业务员</th>
				<th width="120">审核状态</th>
				<th width="120">操作</th>
			</tr>
			<volist name="list" id="vo">
			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>

			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>
			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>
			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>
			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>

			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>

			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>

			<tr>
				<td style="text-align: left; padding-left: 20px;"><input
					type="checkbox" name="id[]" value="" /> 1</td>
				<td>个人项目</td>
				<td>2016-10-5</td>
				<td>11800</td>
				<td>NFxiangjin</td>
				<td><font color="#00CC99">待审核</font></td>
				<td><a class="button border-red" href="javascript:void(0)">
						<span class="icon-edit"></span>查看
				</a></td>
			</tr>




			<td style="text-align: left; padding: 19px 0; padding-left: 20px;"><input
				type="checkbox" id="checkall" /> 全选</td>
			<td colspan="7" style="text-align: left; padding-left: 20px;"><a
				href="javascript:void(0)" class="button border-red icon-trash-o"
				style="padding: 5px 15px;" onclick="DelSelect()"> 删除</a> <a
				href="javascript:void(0)" style="padding: 5px 15px; margin: 0 10px;"
				class="button border-blue icon-edit" onclick="sorts()"> 排序</a>


				<form method="post" action="" id="listform">
					<tr>
						<td colspan="8">
							<div class="pagelist">
								<a href="">上一页</a> <span class="current">1</span> <a href="">2</a><a
									href="">3</a> <a href="">下一页</a> <a href="">尾页</a>
							</div>
						</td>
					</tr>
				</form>
		</table>
	</div>

	<script type="text/javascript">
		//搜索
		function changesearch() {

		}

		//单个删除
		function del(id, mid, iscid) {
			if (confirm("您确定要删除吗?")) {

			}
		}

		//全选
		$("#checkall").click(function() {
			$("input[name='id[]']").each(function() {
				if (this.checked) {
					this.checked = false;
				} else {
					this.checked = true;
				}
			});
		})

		//批量删除
		function DelSelect() {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {
				var t = confirm("您确认要删除选中的内容吗？");
				if (t == false)
					return false;
				$("#listform").submit();
			} else {
				alert("请选择您要删除的内容!");
				return false;
			}
		}

		//批量排序
		function sorts() {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {

				$("#listform").submit();
			} else {
				alert("请选择要操作的内容!");
				return false;
			}
		}

		//批量首页显示
		function changeishome(o) {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {

				$("#listform").submit();
			} else {
				alert("请选择要操作的内容!");

				return false;
			}
		}

		//批量推荐
		function changeisvouch(o) {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {

				$("#listform").submit();
			} else {
				alert("请选择要操作的内容!");

				return false;
			}
		}

		//批量置顶
		function changeistop(o) {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {

				$("#listform").submit();
			} else {
				alert("请选择要操作的内容!");

				return false;
			}
		}

		//批量移动
		function changecate(o) {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {

				$("#listform").submit();
			} else {
				alert("请选择要操作的内容!");

				return false;
			}
		}

		//批量复制
		function changecopy(o) {
			var Checkbox = false;
			$("input[name='id[]']").each(function() {
				if (this.checked == true) {
					Checkbox = true;
				}
			});
			if (Checkbox) {
				var i = 0;
				$("input[name='id[]']").each(function() {
					if (this.checked == true) {
						i++;
					}
				});
				if (i > 1) {
					alert("只能选择一条信息!");
					$(o).find("option:first").prop("selected", "selected");
				} else {

					$("#listform").submit();
				}
			} else {
				alert("请选择要复制的内容!");
				$(o).find("option:first").prop("selected", "selected");
				return false;
			}
		}
	</script>
</body>
</html>