<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/NfCrm/resources/css/pintuer.css">
<link rel="stylesheet" href="/NfCrm/resources/css/admin.css">
<script src="/NfCrm/resources/js/jquery.min.js"></script>
<script src="/NfCrm/resources/js/pintuer.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
			type : "GET",
			url : "/NfCrm/template/selectTemplate2.do",
			async : true,
			dataType : "json",
			success : function(data) {
				var num=data.mylist;
				for(var i=0;i<num.length;i++){
					var options="<option value='"+num[i].t_id+"'>"+num[i].template_name+"</option>";
					$("#emlop").append(options);
				}
			},error : function(rec) {
				console.info("网络异常,请稍后再试");
			}
		});
	});
</script>
<style>
.white_content {
	display: none;
	width: 50%;
	border: 12px solid #D6E9F1;
	z-index: 1002;
	width: 30%;
	height: 28%;
	left: 40%;
	top: 40%;
	background-color: #fff;
	margin-left: -168px;
	margin-top: -140px;
	position: fixed;
	margin-left: -168px;
}

.black_overlay {
	display: none;
	background-color: #f5f5f5;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	position: fixed;
}

.close {
	float: right;
	clear: both;
	width: 100%;
	text-align: right;
	margin: 0 0 6px 0
}

.close a {
	color: #333;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700
}

#con {
	margin-left: 70px;
}
</style>
</head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head" id="add">
			<strong><span class="icon-pencil-square-o"></span>项目详情</strong>
		</div>
		<div class="body-content">
			<form method="get" class="form-x" action="">
				<div class="form-group">
					<div class="label">
						<label>项目类别：</label>
					</div>
					<div class="field w50">
						<input type="text" disabled="disabled" class="input w50" value="<#if prodetail.pro_type==1>公司项目<#else>个人项目</#if>"
							name="pro_name" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>项目名称：</label>
					</div>
					<div class="a">
						<input type="text" disabled="disabled" class="input w50" value="${prodetail.pro_name}"
							name="pro_name" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>项目编号：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" disabled="disabled" value="${prodetail.pro_no}"
							name="pro_no" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>铺型：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.spread_type}" name="spread_type"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>

				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>所在区域：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${prodetail.region}" disabled="disabled"
							name="region" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>价格范围：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.price_range}" name="price_range"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>实际价格：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.actual_price}" name="actual_price"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>面积范围：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.area_range}" name="area_range"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>实际面积：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.actual_area}" name="actual_area"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>类型：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" value="${prodetail.p_type}" disabled="disabled"
							name="p_type" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>行业：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50"
							value="${prodetail.profession}" name="profession" disabled="disabled"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>特色：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" value="${prodetail.features}" disabled="disabled"
							name="features" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>楼盘地址：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${prodetail.address}" disabled="disabled"
							name="address" data-validate="required:请输入正确格式"
							style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>所在楼层：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" value="${prodetail.floor}" disabled="disabled"
							name="floor" data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>物业费：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.property_price}" name="property_price"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>装修：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" disabled="disabled"
							value="${prodetail.decoration}" name="decoration"
							data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>重餐饮：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${prodetail.food}" disabled="disabled"
							name="food" data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label" style="margin-left: 15%;">
						<label>电话：</label>
					</div>
					<div class="a">
						<input type="text" class="input w50" value="${prodetail.phone}" disabled="disabled" 
							name="phone" data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				<div class="form-group"
					style="display: block; width: 50%; float: left;">
					<div class="label">
						<label>座机电话：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="${prodetail.pro_template}" disabled="disabled"
							name="tel" data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="label">
						<label>报备模板：</label>
					</div>
					<div class="field" style="width: 44%">
						<input type="text" class="input w50" value="${prodetail.pro_template}" disabled="disabled"
							name="tel" data-validate="required:请输入正确格式" style="width: auto" />
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="label">
						<label>配套设施：</label>
					</div>
					<div class="field">
						<#if (conf1?size>0)> <#list conf1 as proOne> <input type="text" disabled="disabled"
						style='width:120px; float:left;'
							value="${proOne}" class="input"><a style='float:left'>&nbsp;&nbsp;</a> </#list> <#else> </#if>
						<div style="float: left; margin-top: 10px;" id="facilities"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>适合经营：</label>
					</div>
					<div class="field">
						<#if (conf2?size>0)> <#list conf2 as proTwo> <input type="text" disabled="disabled"
						style='width:120px; float:left;'
							value="${proTwo}" class="input"><a style='float:left'>&nbsp;&nbsp;</a> </#list> <#else> </#if>
						<div style="float: left; margin-top: 10px;" id="operate"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>社会工作措施：</label>
					</div>
					<div class="field">
						<#if (conf3?size>0)> <#list conf3 as proThree><input type="text" disabled="disabled"
						style='width:120px;  float:left;'
							value="${proThree}" class="input"><a style='float:left'>&nbsp;&nbsp;</a></#list> <#else> </#if>
						<div style="float: left; margin-top: 10px;" id="workstep"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>室内图：</label>
					</div>
					<div class="field">
						<#if (img1?size>0)> <#list img1 as imgOne> <img src="${imgOne.img_source}"  id="${imgOne.img_id}" style="width: 300px;height:300px;"> </#list> <#else>无 </#if>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>展示图：</label>
					</div>
					<div class="field">
						<#if (img2?size>0)> <#list img2 as imgTwo>  <img
							src="${imgTwo.img_source}" id="${imgTwo.img_id}" style="width: 300px;height:300px;"> </#list> <#else>无 </#if>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>平铺图：</label>
					</div>
					<div class="field">
						<#if (img3?size>0)> <#list img3 as imgThree> <img src="${imgThree.img_source}" id="${imgThree.img_id}" style="width: 300px;height:300px;"> </#list> <#else>无 </#if>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>环境图：</label>
					</div>
					<div class="field">
						<#if (img4?size>0)> <#list img4 as imgfour> <img src="${imgfour.img_source}" id="${imgfour.img_id}" style="width: 300px;height:300px;"> </#list> <#else>无 </#if>
					</div>
				</div>

				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<a href="/NfCrm/proj/selectallpro.do" class="button bg-main icon-check-square-o" type="button">返回</a>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>