<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.farmework.mapper.SysApprovenFunctionMapper">
	 
	<resultMap type="com.sd.farmework.pojo.SysApprovenFunction" id="sysApprovenFunctionMap">
		
 
		<result column="approven_function_id" property="approvenFunctionId"/>
		<result column="approven_function_name" property="approvenFunctionName"/>
 		<result column="remark" property="remark"/>
  		 
  		  		<result column="create_time" property="createTime"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_user_name" property="createUserName"/>
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="last_update_user_id" property="lastUpdateUserId"/>
		<result column="last_update_user_name" property="lastUpdateUserName"/>
	</resultMap>
	<!-- 查询当月考勤情况,及分页 -->
	<select id="queryList"   resultMap="sysApprovenFunctionMap" >
	select  approven_function_id,approven_function_name,remark from sys_approven_function
		
	  
	</select>
		<!-- 查询当月考勤情况,及分页 -->
	<select id="query"   resultMap="sysApprovenFunctionMap" >
		select approven_function_id,approven_function_name,remark  from sys_approven_function_rule
		
		where approven_rule_id = #{approvenRuleId}
	</select>
	
 
</mapper>